video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.App {
    background-color: rgba(255, 255, 255, 0.5);
}
.container {
  display: flex;
  justify-content: center;
}
.search {
  width: 80%;
  padding: 13px 18px;
  background-color: transparent;
  font-size: 14px;
  line-height: 14px;
  color: #575756;
  background-color: transparent;
  margin-left: 0px;
  box-shadow: inset 0px 0px 0px 4px #ddd6e8;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  
}
h2, h1,h4, ul, p {
  font-family: 'Open Sans', sans-serif;
}
.heading {
  margin-top: 10px;
  background-color: #cececcc3;
  font-weight: 800;
}
h4 {
  text-transform: capitalize;
  text-shadow:1px 1px 2px rgb(42, 74, 42)  ;
  margin-bottom: 0;
  background-color: #cececcc3;
  padding: .2em .5em .3em .5em;
}
h2 {
  text-shadow:1px 1px 2px rgb(42, 74, 42);
  text-transform: capitalize;
}
.calories {
  background-color: #cececcc3;
  padding: .2em .5em .3em .5em;
}
ul {
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

li {
  display: list-item;
  list-style:disc;
  font-weight: 600;
  padding: .2em .5em .3em .5em;
  margin: .2em 0 .2em 1.5em;
  background-color: #cececcc3;
  /*background: #ddd6e8;*/
}
li:hover {
  background-color: #DCDDE1;
}
button {
  background-color: #dbecc4;
  border: none;
  border-radius: 12px;
}
.picture {
  border: rgb(42, 74, 42) 7px solid;
}
.par {
  margin-top: 0;
  font-weight: 700;
  text-shadow:1px 1px 2px rgb(42, 74, 42);
  
}
.instructions {
  font-size: 25px;
  font-weight: 700;
  margin-top: 10px;
  text-decoration: none;
  color: black;
  margin-bottom: 70px;
  font-family: 'Open Sans', sans-serif;
  background-color: #cececcc3;
  padding: .2em .5em .3em .5em;
  text-shadow:1px 1px 2px rgb(42, 74, 42);
}
a:hover {
  background-color: rgb(240, 249, 240);
}
